@model ASP_PV411.Models.User.UserProfileViewModel;

@{
    ViewData["Title"] = "Profile";
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
}
<div class="text-center">
    <h1 class="display-4">Кабінет користувача</h1>
</div>

@if (!isAuthenticated)
{
    <div id="auth-error" class="alert alert-danger text-center mt-4" role="alert">
        Для перегляду профілю користувача потрібно авторизуватися
    </div>
}
else
{
    <div class="row">
        <div class="col col-sm-12 offset-sm-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-5 offset-xl-1 col-xxl-4 offset-xxl-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Назва</th>
                        <th class="d-flex justify-content-between align-items-end">
                            Значення
                            <button id="btn-profile-edit" title="Редагувати дані" type="button" class="btn btn-outline-warning shadow-none">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ім'я</td>
                        <td data-profile-editable="Name">@Model.User.Name</td>
                    </tr>
                    <tr>
                        <td>E-mail</td>
                        <td data-profile-editable="Email">@Model.User.Email</td>
                    </tr>
                    <tr>
                        <td>Логін</td>
                        <td data-profile-editable="Login">@Model.User.Login</td>
                    </tr>
                    <tr style="display: none;" data-profile-hidden>
                        <td>Пароль</td>
                        <td data-profile-editable="Password"></td>
                    </tr>
                    <tr style="@(Model.User.Birthdate != null ? "display: flex-row" : "display: none")" data-profile-hidden>
                        <td>Дата народження <br /> Див. <a target="_blank" href="https://forum.knime.com/t/writing-a-flexible-date-format-handling-workflow/32165">формати часу</a> </td>
                        <td data-profile-editable="Birthdate">
                            @Model.User.Birthdate
                        </td>
                    </tr>
                    <tr style="@(Model.User.Phone != null ? "display: flex-row" : "display: none")" data-profile-hidden>
                        <td>Номер телефону</td>
                        <td data-profile-editable="Phone">
                            @Model.User.Phone
                        </td>
                    </tr>

                    <tr>
                        <td>Дата реєстрації</td>
                        <td>@Model.User.RegisterAt.ToString("dd.MM.yyyy (HH:mm)")</td>
                    </tr>
                    <tr>
                        <td>Роль (права)</td>
                        <td>
                            @Model.User.RoleId (
                            @if (@Model.User.Role.CanCreate > 0)
                            {
                                <b>C</b>
                            }
                            else
                            {
                                <s>C</s>
                            }
                            @if (@Model.User.Role.CanRead > 0)
                            {
                                <b>R</b>
                            }
                            else
                            {
                                <s>R</s>
                            }
                            @if (@Model.User.Role.CanUpdate > 0)
                            {
                                <b>U</b>
                            }
                            else
                            {
                                <s>U</s>
                            }
                            @if (@Model.User.Role.CanDelete > 0)
                            {
                                <b>D</b>
                            }
                            else
                            {
                                <s>D</s>
                            }
                            )
                        </td>
                    </tr>
                </tbody>
            </table>
            <button id="btn-profile-delete" class="btn btn-danger">Видалити профіль</button>
        </div>

        <div class="col col-sm-12 col-xl-5 col-xxl-4">
            @if (Model.Carts.Count == 0)
            {
                <h2 class="display-6">Ви ще не здійснювали покупки</h2>
            }
            else
            {
                <h2 class="display-6">Історія покупок</h2>

                foreach (var cart in Model.Carts)
                {
                    <a
                        asp-controller="Cart"
                        asp-action="Index"
                       asp-route-id=@(cart.CloseStatus == null ? null : cart.Id)
                        class="nav-link alert alert-@(cart.CloseStatus switch { 1 => "success", null => "primary", -1 => "danger", _ => "info"})"
                        role="alert"title="@(cart.CloseStatus switch { 1 => "Оплачений кошик", null => "Поточний кошик", -1 => "Відкладений кошик", _ => "Кошик" })"
                        >
                        @cart.OpenAt.ToShortDateString()
                        @cart.Price
                    </a>
                }
            }
        </div>
    </div>
}